In [8]:
import sqlite3
conn = sqlite3.connect('test.db') #DB 생성: 하나의 DB에는 같은 이름을 가진 테이블을 하나만 만들 수 있다
cur = conn.cursor() #connect
#conn.execute('CREATE TABLE customer(name,category,region)')#테이블 생성 / 열 이름 지정

In [9]:
sql_qry = "insert into customer(name,category,region) values (?, ?, ?)" #어떤 데이터를 삽입할 것인지 만들고, 집어넣어줌
cur.execute(sql_qry, ('홍길동', 1, '서울')) #데이터 삽입
cur.execute(sql_qry, ('홍길동', 2, '서울'))
cur.execute(sql_qry, ('홍길동', 3, '서울'))
#커서에 따라서 처음부터 하나씩 데이터를 가져옴
sql_qry = 'select * from customer'
print("DATA")
for _ in cur.execute(sql_qry): #반복문으로 데이터 읽어옴
	print(_)

DATA
('홍길동', 1, '서울')
('홍길동', 2, '서울')
('홍길동', 3, '서울')

In [10]:
conn.close() #해당 connection를 닫아줌